.avatarBox {
  align-self: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  user-select: none;
}
.avatarBox p {
  font-weight: 600;
  font-size: 1.5em;
}
