.main {
  display: flex;
  flex-direction: column;

  color: black;
}
.defaultMargin {
  margin: auto;
  width: 100%;
  max-width: 1000px;
  padding-top: 4%;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding-bottom: 7%;
}
.main h2 {
  color: var(--font-color-primary);
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1em;
}
.eventHeroImage {
  width: 100%;
  max-height: 320px;
  object-fit: cover;
}
.eventDetailsSection {
  background-color: rgba(0, 62, 220, 0.3);
}
.hostedBy {
  font-size: 1.1em;
  color: black;
  font-weight: 700;
}
.dateAndAddress {
  color: white;
  font-size: 1.2em;
  font-weight: 500;
  background-color: var(--font-color-primary);
  padding: 0.2em 0.8em;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main section header {
  font-weight: 600;
  font-size: 1.5em;
  color: var(--font-color-primary);
}
.mainInfo {
  display: flex;
  flex-direction: row;
  gap: 2em;
}
.description {
  font-weight: 500;
}
.subscribeBtn {
  background-color: rgba(21, 89, 191, 0.6);
  color: white;
  border-radius: 6px;
  font-size: 1.2em;
  width: max-content;
  padding: 0.5em 2em;
}
.hostName {
  font-size: 1.3em;
  font-weight: 700;
}
.attendeesTopBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.3em;
}
.attendeesCount {
  font-weight: 400;
}
.attendeesSeeAll {
  cursor: pointer;
  color: #1099bd;
}
.attendeesSeeAll:hover {
  color: #8dcddd;
}
.attendeesImgBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.attendeesImgRounded,
.attendeesMoreBox {
  width: 9em;
  height: 12em;
  border-radius: 50%;
  background-color: #8dcddd;
}
.attendees {
  display: flex;
  flex-direction: column;
  gap: 3em;
}
.attendeesMoreBox {
  position: absolute;
  right: 1.5em;
  z-index: -1;
  opacity: 0.5;
}
.attendeesLink {
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.attendeesLink p {
  font-size: 1.3em;
  font-weight: 500;
}
.attendeesMoreBtn {
  color: #1099bd;
}

.attendeesLink:hover .attendeesMoreBtn {
  color: #8dcddd;
}
.participantsSection .defaultMargin {
  margin-top: 1em;
}
.attendeesMenuBg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.attendeesMenu {
  padding: 1em;
  width: 40em;
  height: 18em;
  background-color: var(--background-color-light-purple);
  display: flex;
  gap: 1em;
  flex-direction: column;
  border-radius: 4px;
  padding-right: 0;
}
.inputSearch {
  display: flex;
  flex-direction: row;
  width: max-content;
  align-items: center;
}
.inputSearch input {
  border-bottom: 1px solid black;
  outline: none;
  background-color: transparent;
}
.attendeesMenuBottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5em;
  overflow: auto;
  padding-right: 0.5em;
}
.attendeesMenuItemImg {
  width: 2em;
  height: 2em;
  background-color: aqua;
}
.attendeesMenuItem {
  background-color: white;
  width: 100%;
  height: 3em;
  border-radius: 4px;
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}
.attendeesMenuTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 1em;
}
.closeIcon path {
  fill: var(--secondary-color-dark-black);
}
.closeIcon {
  cursor: pointer;
}
