.aboutsection {
  background-image: url(/images/aboutus/background.svg);
  display: flex;
  height: 100%;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.whiteTitle {
  font-weight: 700;
  font-size: 30px;
  padding: 10px 24px;
}

.showLeftImages {
  background-color: var(--light-indigo);
  width: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.imagesSubContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 15px;
}

.images {
  display: flex;
  padding: 0.5rem;
}

.showRightText {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
  width: fit-content;
}

.showRightText p {
  display: flex;
  font-size: 24px;
  padding: 10px 40px;
}
.main {
  height: 600px;
  min-height: initial;
}
@media (max-width: 1068px) {
  .main {
    height: auto;
  }
  .aboutsection {
    flex-direction: column;
  }
  .showLeftImages {
    width: 100%;
    padding: 1em;
  }
  .imagesSubContainer {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 250px);
    justify-content: center;
    align-items: center;
  }
  .showRightText {
    padding-bottom: 3.5em;
  }
  .images {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .images img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 510px) {
  .imagesSubContainer {
    grid-template-columns: repeat(2, 210px);
  }
}
@media (max-width: 420px) {
  .imagesSubContainer {
    grid-template-columns: repeat(2, 170px);
  }
}
